body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.highlighted {
  background: #eee;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.move-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.375rem;
  padding: 0;
  list-style-type: none;
}

.move-list-sort-button {
  width: 7rem;
  padding: 0.125rem;
  border: 1px solid #444;
  border-block-end-width: 2px;
  border-radius: 4px;
  font: 14px "Century Gothic", Futura, sans-serif;
  font-size: 12px;
}

.move {
  width: 15rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #444;
  border-block-end-width: 2px;
  border-radius: 4px;
  font: 14px "Century Gothic", Futura, sans-serif;
  font-size: 12px;
}

.move:disabled {
  font-weight: bold;
  border: 1px solid #888;
  border-block-end-width: 2px;
}